@font-face {
    font-family: "georgian";
    src:
      url("./fonts/georgian.TTF"),
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "georgian";
}

body {
    background-image: url('./icons/background.jpg');
}

.root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
}

h5 {
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
}

form {
    padding: 20px;
}

input {
    margin-bottom: 20px;
}

.header {
    color: white;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: 50px;
}

.errors {
    position: absolute;
    top: 0;
    display: flex;
    height: 100px;
    width: 250px;
    font-size: 12px;
}

.dt-button {
    width: 120px !important;
    border: 1px solid brown !important;
    background: brown !important;
    color: white;
    font-weight: bold;
    height: 35px;
    transition: background-color 0.5s ease;
}

.dt-button:hover {
    color: brown;
    background: white !important;
}

table.dataTable.table-striped>tbody>tr.odd>* {
    background-color: rgb(225, 120, 120);
}

.registered {
    position: absolute;
    top: 0;
}